* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: goldenrod;
  color: #333;
  padding: 20px;
}

/* Navbar */
nav {

  background: #0044cc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 18px;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  font-size: 17px;

}


nav a {
  color: #f61e1e;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
  transition: 0.3s;
  text-align: center;
}

nav a:hover {
  background: #ffcc00;
  color: #000;
  border-radius: 5px;
}

/*  prodotti */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

li {
  width: 60%;

  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

li img {
  width: 100%;
  border-radius: 10px;
}

li a {
  display: block;
  color: #0044cc;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 10px;

}

li p {
  margin-bottom: 20px;
}



/* Dettaglio prodotto */
.dettaglio {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dettaglio img {
  max-width: 80%;
  border-radius: 10px;
}


h2 {
  margin: 20px 0;
  font-size: 2em;
}

p {
  line-height: 1.6;
}

.prevnext {
  margin-right: 20px;
  color: rgb(167, 9, 167);
  text-decoration: none;
  font-weight: bold;

}


.ingredient-list {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ingredient-list h3 {
  margin: 0;
  font-size: 1.5em;
  color: #2284db;
}

.ingredient-list label {
  margin-top: 10px;
}